
img {
	height: 40vh;
	margin-left: auto;
	margin-right: auto;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-family: sans-serif;
}

#timer {
	font-weight: normal;
}

#currentTime {
	font-weight: bold;
}

h1 {
	font-size: 80pt;
	margin: auto;
}

h2 {
	text-decoration: none;
	font-weight: none;
	margin: 20px;
}

#controls {
	margin: 20px;
}

.button {
	border: 1px solid black;
	padding: 5px 10px;
	font-size: 20pt;
	margin: 10px;
	font-family: monospace;
}

audio {
	display: none;
}

.hidden {
	display: none;
}