body {
	margin: 0px;
	display: flex;
	overflow: hidden;
	--current-color: white;
	color: var(--current-color);
	border-color: var(--current-color);
	background-color: var(--current-color);
}

#sidebar {
	border: 0px;
	height: 94vh;
	overflow: scroll;
	width: 40%;
	border: 3vh solid;
	border-right: 0px;
	border-color: inherit;
	background-color: inherit;
}

#main {
	width: 60%;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	overflow: scroll;
	justify-content: flex-start;
	align-content: center;
}

#main > * {
	background-color: white;
	margin: 3vh;
	border-radius: 3vw;
}

#bank {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#main h1 {
	margin: 1vh 2vw;
	font-size: 4vw;
}

#next {
	color: inherit;
	font-size: 4vw;
	font-family: inherit;
	font-weight: bold;
}