:root {
	--debug-display: none;
}

body {
	margin: 0px;
	display: flex;
	overflow: hidden;
	--current-color: white;
	color: var(--current-color);
	border-color: var(--current-color);
	background-color: var(--current-color);
}

button, input {
	font-family: inherit;
	color: inherit;
}

#sidebar {
	border: 0px;
	height: 94vh;
	overflow: scroll;
	width: 40%;
	border: 30px solid;
	border-right: 0px;
	border-color: inherit;
	background-color: inherit;
}

main {
	width: 60%;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	height: 100vh;
	overflow: scroll;
	justify-content: center;
	align-content: center;
}

main > * {
	background-color: white;
	margin: 15px;
	border-radius: 30px;
	display: block;
}

#units {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 11pt;
	font-weight: bold;
	font-family: monospace;
	border: 5px solid var(--current-color);
	margin: 5px;
	border-radius: inherit;
}

#units section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2.5px 5px;
}

#units p {
	margin: 0px;
}

#units p:hover {
	text-decoration: underline;
	cursor: pointer;
}

div > button {
	font-size: 18pt;
	border-radius: inherit; 
	background-color: var(--current-color);
	color: white;
	border: none;
	margin: 10px;
}

input, select {
	font-size: 18pt;
	text-align: center;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#cartContents {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 11pt;
	font-family: monospace;
	margin: 0px 10px 5px 10px;
}

#cartContents > * {
	margin: 0.5vw 1vw;
	display: block;
}

#bank {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#bank input {
	width: 40px;
}

main h1 {
	margin: 10px 20px;
	font-size: 6vw;
}

#next {
	font-size: 40pt;
	font-weight: bold;
}

#reset {
	font-size: 20pt;
	width: 25%;
	margin: 0 auto;
}

.debug {
	display: var(--debug-display);
}