#output {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  margin: 10px;
}

#input {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#input button {
  width: 30%;
  font-size: 12pt;
  font-family: monospace;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
}