body {
	margin: 0px;
	
}

table {
	padding: 0px;
	width: 100vw;
}

.left {
	display: flex;
	justify-content: right;
	align-items: center;
	height: auto;
}
.left h1 {
	font-size: 12vw;
	color: white;
	margin: 0px;
}
.flag {
	height: auto;
	width: 40%;
	border: 1vw solid;
	border-radius: 4vw;
	margin: 5px;
	margin-right: 20px;
}

.right {
	border: 1vw solid;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.right h2 {
	margin: 1vw;
	font-size: 6vw;
}